*{
  font-family: 'Mashine';
}

#map {
        height: 80%;
}

body{
  background-color: #09046a;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

h1{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
}
article{
  color: white;
}

label{
  color: white;
}



@media only screen and (min-width: 768px) and (max-width: 1250px){
  h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1950px){
  h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1950px){
  h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
  }
}